<!--
 █████   ████                                      ████      █████████                                                ████ 
░░███   ███░                                      ░░███     ███░░░░░███                                              ░░███ 
 ░███  ███     ██████   █████  ████████    ██████  ░███    ░███    ░░░   ██████   █████████████   █████ ████  ██████  ░███ 
 ░███████     ███░░███ ███░░  ░░███░░███  ███░░███ ░███    ░░█████████  ░░░░░███ ░░███░░███░░███ ░░███ ░███  ███░░███ ░███ 
 ░███░░███   ░███████ ░░█████  ░███ ░███ ░███████  ░███     ░░░░░░░░███  ███████  ░███ ░███ ░███  ░███ ░███ ░███████  ░███ 
 ░███ ░░███  ░███░░░   ░░░░███ ░███ ░███ ░███░░░   ░███     ███    ░███ ███░░███  ░███ ░███ ░███  ░███ ░███ ░███░░░   ░███ 
 █████ ░░████░░██████  ██████  ████ █████░░██████  █████   ░░█████████ ░░████████ █████░███ █████ ░░████████░░██████  █████
░░░░░   ░░░░  ░░░░░░  ░░░░░░  ░░░░ ░░░░░  ░░░░░░  ░░░░░     ░░░░░░░░░   ░░░░░░░░ ░░░░░ ░░░ ░░░░░   ░░░░░░░░  ░░░░░░  ░░░░░ 
-->
{% load static %}

<!DOCTYPE html>
<html lang="en" class="html-bg no-js tiKk Kosko jlf jlnfd jndf njdsg lsjrg khjbdsf bkfg jlkdb nsdg nilfe ndbvjk ndkg fbg dhkg okfjio foqwenf enjenfow qhwnfwqfn nwdjwnbofhoqignoiuq nfjewqfnoqfnoiqwfn wqfnqwojfnhojqhwfojqw qhfonqefojbrjg wqnfijwqnfjoewqbnjigf jfebjewgnebg wqfjbjqgnbkjwegbj weekjwgbkjegbnkeg kejbgjenbgjn ewgjbewjgnkjewng ewjn gkoewng jkgbb wqjqbnflknb kjqbw jnewnk wkfnewklngfkjwenbg qewjn jqwknf lknewgjkn wqlkfnojwengk qnjw ejngklewng jowqnk ewkjngkoj knhj kenqojng kjwegoh wgjwekjlgnlk wwemgkewgm">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title> 
    Kesnel Samuel
</title>

<meta name="theme-color" content="#09B1BA">
<meta name="language" content="English">
<meta name="Copyright" content="Kesnel, LLC">
<meta name="author" content="Kesnel Samuel">
<meta name="application-name" content="kesnel">

<meta name="ROBOTS" content="ALL">
<meta name="google" content="notranslate">
<meta name="robots" content="index, follow">
<meta name="googlebot" content="index, follow">

<meta name="keywords" content="kesnel samuel jean philippe, data scientist, web developer, haitian in tech, tech, stem">
<meta name="description" content="">

<!-- Open Graph / Facebook -->
<meta property="og:site_name"          content="tutipad">
<meta property="og:type"               content="website">
<meta property="og:url"                content="https://kesnel.link/">
<meta property="og:title"              content="Kesnel Samuel">
<meta property="og:description"        content="">
<meta property="og:image"              content="">
<meta property="og:image:secure_url"   content="">

<!-- Twitter Card -->
<meta name="twitter:card"              content="summary_large_image">
<meta name="twitter:type"          	   content="website">
<meta name="twitter:url"               content="https://kesnel.link/">
<meta name="twitter:site"          	   content="@kesnelsamuel">
<meta name="twitter:creator"           content="@kesnelsamuel">
<meta name="twitter:title"             content="Kesnel Samuel">
<meta name="twitter:description"       content="">
<meta name="twitter:image"             content="{% static 'media/img/card/card.' %}">

<!-- Fav Icons -->
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/fav-ico/favicon-32x32.png' %}">

<!-- Additional Meta Tags -->
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{% static 'media/fav-ico/ms-icon-144x144.png' %}">
<meta name="theme-color" content="#ffffff">

<!-- Google Fonts-->

<!-- %%%%%%%%  -->
<link rel="stylesheet" href="{% static 'asset/css/base.css' %}">


<!-- % Share Facebook % -->
<!-- % Share Twitter % -->
<!-- % Share Linkedin % -->
<!-- % Share Whatsapp % -->

</head>
<body>

    <!-- %%% -->
     
    <main id="main-app" class="main-app page-top">
        {% block content %}
        {% endblock %}
    </main>

    <!-- %%% -->

    
<script src="{% static 'asset/js/jquery.js' %}"></script>
<script src="{% static 'asset/js/main.js' %}"></script>

</body>
</html>